<% include ../partials/header %>
  <h1 class="text-center">See all our Posts!</h1>
  <% posts.forEach(function(post){ %>
    <p>
      <h3><a href="/posts/<%= post._id%>"><%= post.title%></a></h3>
    </p>
    
    <p> <%= post.summary%> </p>
    
    <p>
      <a href="<%= post.link%>" target="_blank">Link to:  <%= post.title%></a>
    </p>
        
    <p> <%= post.comments.content%> </p>

  <% })%>
<br>
  <a href="/posts/new">Add a new POST!</a>


<% include ../partials/footer %>